.app-container {
  font-family: Arial, sans-serif;
  background: #f8f9fa;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  /* margin: 50px; */
  gap: 100px;

  padding-top: 50px;
}

.welcome {
  max-width: 500px;
}

.welcome h1 {
  color: rgb(0,136,58);
  margin-bottom: 15px;
}

.welcome p {
  font-size: 1.1rem;
  line-height: 1.6;
  color: #333;
  margin-bottom: 150px;

}

.create-account{
  background-color: rgb(0,136,58);
  padding: 10px 14px;
  color: white;
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
}


@media (max-width: 768px) {
  .dash{
    display: flex;
    flex-direction: column;
  }
}